*~
.*~
*.swp
*.pyc
.DS_Store
.Rhistory
.RData
.spyderproject
.spyderworkspace
__pycache__/
.ipynb_checkpoints
trainImages/kolj_ind/*.bmp
trainImages/cep_ind/*.bmp
testImages/test2/Image*.bmp
.idea/
bow_vocabulary.xml
svm_data.xml
testImages/test2/testImages.zip
trainImages/cep_ind/cep_ind-trainImages.zip
trainImages/kolj_ind/kolj_ind-trainImages.zip
